body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

/* 
    Inicio del header 
*/

header {
    position: relative;
    background-color:white;
}

.contenedor {
    width: 100%;
    max-width: 1100px;
    display: flex;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 16px;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.logo_nombre {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-left: 16px;
}

.logo img {
    width: 56px;
}

.logo_nombre .nombre {
    font-style: normal;
    font-size: 20px;
}

.menu { 
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    margin-right: 16px;
}

.navegacion ul {
    display: flex;
    column-gap: 16px;
    row-gap: 5px;
}

.navegacion .link {
    text-align: center;
    align-items: flex-start;
    padding: 16px;
    transition-property: outline;
    transition-duration: 200ms;
}

.link:hover {
    border-radius: 4px;
    outline: 1.2px solid black;
    color: white;
}

.navegacion a {
    margin: auto;
    text-decoration: none;
    color: black;
}

.navegacion {
    display: flex;
    background-color: white;
}

.boton_menu {
    background-color: white;
    padding: 16px 20px;
    border-radius: 80px;
    border: 1.5px solid black;
    font-weight: bold;
}

#boton_menu {
    display: none;
}

/*
    section index
*/

.section {
    display: flex;
}

.texto_cita {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    flex: 1;
}

.texto {
    flex: 1;
}

/*
    section projects
*/

.cont_pro {
    display: flex;
    flex-direction: column;
    max-width: 100%; 
}

.pro_pro {
    margin: 16px;

}

#titulo {
    display: flex;
}

.textos {
    margin: auto;
}

    
.imagen {
    margin-top: 8px;
    margin-bottom: 8px;
}

figure {
    padding: 0;
    margin: 0;
    transition-property: opacity;
    transition-duration: 200ms;
}

.pro_pro figure:hover {
    opacity: 0.5;
}

.pro_pro img{ 
    max-width: 100%;
    border-radius: 8px;
}

.pro_pro a {
    margin: auto;
    text-decoration: none;
    color: black;
}

.nombre_project {
    z-index: 99;
    position: static;
}

/*
    section about
*/

.descripcion {
    margin: auto;
    max-width: 600px;
}

.texto {
    max-width: 100%;
    margin: 16px;
}

.photo { 
    margin: 16px;
}

.photo img{
    max-width: 100%;
    border-radius: 8px;
}

.name {
    font-weight: bold;
}

/*
    Section contact
*/

.info {
    margin: 16px;
}

.info img{
    max-width: 100%;
    border-radius: 8px;
}

.contacto {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
}

h3, p {
    margin-top: 8px;
    margin-bottom: 8px;
}

#form {
    margin: 16px;
}

.form_nombre,
.form_email,
.form_texto {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-bottom: 16px;
}

.caja {
    height: 40px;
}

.boton {
    height: 40px;
    width: 360px;
    background-color: black;
    border: 0px;
}



/*
    Inicio footer
*/

.footer {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.todo {
    display: flex;
    align-items: center;
}

.enlaces ul {
    display: flex;
}

.enlaces li {
    list-style: none;
}

.enlaces img {
    height: 24px;
    width: 24px;
    margin: 16px;
}

/*
    Fin Footer
*/

/*
    DESKTOP
*/

@media (min-width: 800px) {

    /* header */

    .navegacion {
        display: block;
    }

    .boton_menu,
    #boton_menu {
        display: none;
    }

    /* section index */

    #titulo {
        display: flex;
    }

    .cita {
        text-align: left;
    }

    .section {
        width: 600px;
        margin: auto;
    }

    .texto_cita .cita {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /* section projects */

    #titulo {
        margin: 50px;
        display: block;
        text-align: center;
    }
    
    .titulo .subtitulo {
        font-style: normal;
    }
    
    .pro_pro {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 100%;
    }

    #uxui, 
    #grafico,
    #grafico2 {
        display: flex;
        justify-content: flex-start;
        column-gap: 16px;

    }

    .portada {
        flex: 1;
    }
    
    #grafico,
    #grafico2 {
        margin-top: auto;
    }
    
    .bicing, 
    .make_music, 
    .mapple_zoo, 
    .fisica_quimica, 
    .news_paper, 
    .sketching {
        width: 584px;
        height: 367px;
        margin: 16px;
    }

    .cont_pro {
        margin-bottom: 120px;
    }

    /* Section about */

    #sect_desc {
        display: flex;
        min-width: 100%;
        padding: 16px;
        flex-direction: column;
    }
    
    .descripcion {
        column-gap: 16px;
        max-width: 1100px;
        display: flex;
    }

    h1 {
        margin: auto;
    }

    .texto {
        width: 390px;
    }

    .texto p {
        text-align: left;
    }

    .photo img{
        width: 390px;
    }

    /* Section contact */

    #seccioncontacto {
        display: flex;
        flex-direction: column;
    }
    
    #contacto {
        display: flex;
        min-width: 100%;
        justify-content: space-around;
    }

    .info img{
        width: 390px;
    }


    .caja .boton {
        min-width: 400px;
    }

    .form_nombre,
    .form_email,
    .form_texto {
        width: 390px;
    }

}

/*
    MOBILE
*/

@media (max-width: 799px) {

    /* header */

    .navegacion {
        width: 90%;
        max-width: 200px;
        position: fixed;
        top: 0;
        left: -200px;
        height: 100%;
        transition: left 0.3s ease-out;
    }

    .navegacion ul {
        flex: 1;
        flex-direction: column;
        margin: auto;
    }

    .navegacion li {
        padding: 24px;
    }

    #boton_menu:checked + .navegacion {
        left: 0;
    }

    /* section home */

    .section {
        margin: auto;
        max-width: 600px;
    }

    .texto {
        margin: 16px;
    }

    .texto p {
        text-align: left;
    }

    /* section projects */

    .bicing, 
    .make_music, 
    .mapple_zoo, 
    .fisica_quimica, 
    .news_paper, 
    .sketching {
        max-width: 100%;
        margin: auto;
    }
    
    /* section contact */    


    .form_nombre,
    .form_email,
    .form_texto {
        max-width: 100%;
    }
    

   
}
